html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(90deg, rgba(37, 40, 47, 1) 0%, rgba(72, 84, 96, 1) 100%);
    color: white;
    position: sticky;
    width: 100%;
    padding: 10px 0;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.img-header {
    height: 300px;
    background-color: #39373f;
    width: 100%;
    object-fit: cover;
}

.Deskripsi {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #fff;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.Deskripsi p {
    flex: 1;
    max-width: 600px;
    margin-left: 20px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #333;
}

.product-card {
    background-color: #ffffff;
    padding: 50px;
}

.product-card h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #39373f;
    font-size: 2em;
}

.box-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h2 {
    font-size: 1.8em;
    margin: 15px 0;
    color: #333;
}

.card-content p {
    color: #555;
    font-size: 1em;
    line-height: 1.6;
}

.layanan {
    background-color: #f9f9f9;
    padding: 70px 0;
    text-align: center;
}

.layanan h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 2em;
}

.layanan p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

.layanan thead {
    background-color: #4c7bb0;
    color: white;
    height: 50px;
}

.layanan table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.layanan table, th, td {
    border: 1px solid #ddd;
}

.layanan tbody td {
    padding: 15px;
    font-size: 1em;
}

.contact-form {
    background-color: #ffffff;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.contact-form input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #4c7bb0;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: #39373f;
    padding: 20px;
    text-align: center;
}

footer h1, h3, p {
    color: white;
    font-style: italic;
}

.footer-judul {
    text-align: end;
    color: #76c7c0;
    font-weight: bold;
}

@media (max-width: 768px) {
    .Deskripsi {
        flex-direction: column;
        padding: 20px;
    }

    .Deskripsi p {
        margin-left: 0;
        text-align: center;
    }

    .box-card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .layanan table {
        width: 90%;
    }

    .contact-form {
        width: 90%;
    }
}